body{
    background-color: rgba(229,255,219,0.53);
    text-align: center;
}

.my-navbar-style {
    background-color: rgba(151, 182, 255, 0.53);
}

.profile-message{
    text-align: center;
}

.contact-form{
    display: inline-block;
    margin-top: 25px;
}