body{
    background-color: rgba(229,255,219,0.53);
    text-align: center;
}

.my-navbar-style {
    background-color: rgba(151, 182, 255, 0.53);
}

.wellcome-message{
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}

.login-button{
    background-color: rgba(29,67,255,0.77);
    border: 1px solid #20c997;
    color: white;
}